@model RegisterViewModel
@{
    ViewBag.Title = " Register User";
}


@*<form asp-controller="Account" asp-action="Register" method="post" class="mt-2">
        <div asp-validation-summary="All" class="text-danger">

        </div>
        <div class="row form-group">
            <div class="col-sm-2">
                <label asp-for="Email"></label>
            </div>
            <div class="col-sm-10">
                <input asp-for="Email" class="form-control" autocomplete="off" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-2">
                <label asp-for="Password"></label>
            </div>
            <div class="col-sm-10">
                <input asp-for="Password" class="form-control" autocomplete="off" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-2">
                <label asp-for="ConfirmPassword"></label>
            </div>
            <div class="col-sm-10">
                <input asp-for="ConfirmPassword" class="form-control" autocomplete="off" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">Register</button>
                <a asp-controller="Home" asp-action="index" class="btn btn-warning">Back</a>
            </div>
        </div>

    </form>*@

<div class="container py-5">
    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card border-secondary">
                        <div class="card-header">
                            <h3 class="mb-0 my-2 text-center" >Sign Up</h3>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" asp-controller="Account" asp-action="Register" method="post" autocomplete="off">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label for="inputEmail3">Email</label>
                                    <input asp-for="Email" type="email" class="form-control" id="inputEmail3" placeholder="email@codegym.com" required="">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3">Password</label>
                                    <input asp-for="Password" type="password" class="form-control" id="inputPassword3" placeholder="password" title="At least 6 characters with letters and numbers" required="">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label for="inputVerify3">Confirm Password</label>
                                    <input asp-for="ConfirmPassword" type="password" class="form-control" id="inputVerify3" placeholder="password (again)" required="">
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="City" for="inputVerify3">City</label>
                                    <input asp-for="City" class="form-control" id="inputVerify3">

                                </div>
                                <div class="form-group">
                                    <label  asp-for="Adress"for="inputVerify3">Address</label>
                                    <input asp-for="Adress" class="form-control" id="inputVerify3">

                                </div>
                                <div class="form-group">
                                    <label class="form-check-label"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-lg float-lg-right" style="width:auto">Register</button>
                                    <a asp-controller="Home" asp-action="index" class="btn btn-warning">Back</a>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>

</div>
<!--/container-->