@{
    int number1 = 10;
    int number2 = 11;
    int total = number1 + number2;
}
<h1 style="background-color:brown;color-interpolation:linearRGB">My Calculator</h1>
<h1>@number1+@number2=@total</h1>
<h3 style="color:hotpink;background-color:greenyellow;font-size:50px">@ViewData["Messenger"]</h3>
<h3 style="color:darkviolet;background-color:greenyellow;font-size:50px">@ViewBag.Messenger1["Messenger"]</h3>
